/*****************
GENERAL
******************/

/*Hides the navbar for big screens*/
#bignav {
    display:none;
}



/*Changes the font. Rendered from Google Fonts*/
body {
    font-family: 'Open Sans', sans-serif;
}


#smallnav {
    border-bottom-color:black;
}

/*Modifies the Nostromo header of the small navbar*/
#header {
    text-align: center;
    color: #000000;
    font-weight:700;
    text-decoration:none;
}

/*Modifies the links/options of the small navbar*/
.naveg {
    padding-left:50px;
    padding-right:100px;
    padding-top:10px;
    padding-bottom:10px;
    color: #000000;
    font-weight:700;
    display: block;
}

/*Modifies only the last link/option of the small navbar*/
.prueba2 {
    padding-top:10px;
    padding-bottom:300px;
}

/*Modifies the menu button in the small navbar*/
.mimenu {
    color: #000000;
    font-weight:700;
    display: block;
}

/*Modifies embedded videos so they are responsive. Taken from embedresponsively.com*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*****************
Página: Inicio/Index
******************/

/*Modifies the first h1 and p tags in the main page.*/
#inicio {
    width: 100%;
    text-align: center;
}

/*****************
Página: Productos
******************/

body ul {
    list-style: none;
}

.descripcion {
    display: block;
}

/*****************
Página: About
******************/
.foto_perfil {
    width:100%;
    max-width: 500px;
}

.thumbnails_perfiles a {
    display:block;
    text-decoration:none;
    color:black;
}

/*****************
Página: Blog
******************/
.thumbnails_blog a{
    display:block;
    text-decoration:none;
    color:black;
}

.thumbnails_blog img {
    width:100%;
    max-width:500px;
    margin-bottom:10px;
    margin-top:10px;
}

/*****************
Entradas de blog
******************/
.imagen_principal {
    width:100%;
    max-width:500px;
}

cuerpo_entrada {
    padding-left:2em;
    padding-right:2em;
}
